<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
  <configs SELEFILE="D:\work\stm32f103-cje\stm32f103-ota\bsp\stm32\stm32f103\rtthread.bin" SAVEFILE="C:\Users\zqlon\Desktop\rtthread_1.rbl" COMPRESS="2" CRYPT="1" KEY="0123456789ABCDEF0123456789ABCDEF" IV="0123456789ABCDEF" NAME="app" VERSION="V1.0.0.0" />
</configuration>